body {
  margin: 0px;
}

#menu {
  width: 1000px;
  height: 1000px;
  padding: 0;
  margin-left: -1000px;
  margin-top: -1000px;
  background-color: #000;
  border-radius: 50%;
  position: fixed;
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#safe {
  color: #FFF;
  font-size: 4em;
}

#block {
  display: block;
  width: 353px;
  height: 353px;
  background-color: #000;
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#menu.show {
  -moz-animation-name: slidein;
  -moz-animation-duration: 500ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  -moz-transition: none;

  -webkit-animation-name: slidein;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition: none;
}

#menu.rotate {
    margin-left: -500px;
    margin-top: -500px;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;

    

    -moz-animation-name: rotate;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;

    -ms-animation-name: rotate;
    -ms-animation-duration: 500ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;

    animation-name: rotate;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.quarterCircle {
  display: block;
  padding-top: 0;
  position: fixed;
  width: 500px;
  height: 500px;
  border-bottom-right-radius: 100%;
}

#quarter1 {
  margin-left: 500px;
  margin-top: 500px;
  background-color: #1abc9c;
}

#quarter2 {
  margin-left: 0px;
  margin-top:  500px;
  background-color: #f39c12;
  -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
}

#quarter3 {
  margin-left: 0px;
  margin-top:  0px;
  background-color: #3498db;
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

#quarter4 {

  margin-left: 500px;
  margin-top:  0px;
  background-color: #9b59b6;
  -ms-transform: rotate(270deg); /* IE 9 */
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
}


@-webkit-keyframes rotate {
  to {
      -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  }
}

@-moz-keyframes rotate {
  to {
   -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg); /* Chrome, Safari, Opera */
  }
}

@-webkit-keyframes slidein {
  from {
    margin-left: -1000px;
    margin-top: -1000px;
  }

  100% {
    margin-left: -500px;
    margin-top: -500px;
  }
}

@-moz-keyframes slidein {
    from {
      margin-left: -1000px;
      margin-top: -1000px;
    }

  100% {
      margin-left: -500px;
      margin-top: -500px;
  }
}

  @-ms-keyframes spin { 
        from { 
            -ms-transform: rotate(0deg); 
        } to { 
            -ms-transform: rotate(360deg); 
        }
    }
    @-moz-keyframes spin { 
        from { 
            -moz-transform: rotate(0deg); 
        } to { 
            -moz-transform: rotate(360deg); 
        }
    }
    @-webkit-keyframes spin { 
        from { 
            -webkit-transform: rotate(0deg); 
        } to { 
            -webkit-transform: rotate(360deg); 
        }
    }
    @keyframes spin { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
    }